/* {
  margin: 0;
  padding: 0;
}*/

body {
  height: 100% auto;
  width: 100% auto;
  margin: 0;
  padding: 0;
  /* background: #355c7d;
  background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); */
  background-image: url("image/5651992.png");
  background-size: cover;
}

/* nav {
  width: 65%;
  margin: 20px auto 20px auto;
  background-color: whitesmoke;
  top: 0px;
  width: 100%;
  margin: 10px auto 40px auto;
  border-radius: 10px, 10px, 10px, 10px;
  background-color: transparent;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
  width: 11%;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  font-size: large;
  text-align: center;
  font-weight: bolder;
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  border-radius: 41px;
  background: rgb(111, 172, 236);
  box-shadow: 12px 12px 24px #6c6c6c, -12px -12px 24px #ffffff;
} */

h1 {
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 0 3px cornsilk;
  border: 4px rgb(168, 202, 252) solid;
  border-radius: 30px / 10px;
  box-shadow: 6px 6px 10px white;
}
h2 {
  color: rgb(168, 202, 252);
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0 0 3px;
  margin-bottom: 20px;
  margin-top: 5px;
}

h3 {
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 0 3px cornsilk;
}
h4 {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 0 3px cornsilk;
}

.texte1 {
  width: 60ch;
}
.pacceuill {
  display: block;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin-right: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border: 4px rgb(168, 202, 252) solid;
  border-radius: 30px / 10px;
  box-shadow: 6px 6px 10px whitesmoke;
}

.paragrapheAcc {
  display: block;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  border: 4px rgb(168, 202, 252) solid;
  border-radius: 30px / 10px;
  box-shadow: 6px 6px 10px whitesmoke;
}

.pacceuill a:hover {
  border-radius: 41px;
  background:rgb(111, 172, 236);
  /* box-shadow: 12px 12px 24px #6c6c6c, -12px -12px 24px #ffffff; */
}

#grille {
  text-align: center;
  background-color: black;
  border: 4px black solid;
  border-radius: 30px / 10px;
  box-shadow: 6px 6px 10px;
  margin-left: 550px;
  margin-right: 550px;
  margin-bottom: 101px;
}

#msg_mail {
  width: 200px;
  height: 50px;
}
.msg_sujet {
  width: 200px;
  height: 50px;
}
.msg_contenu.zone_msg {
  width: 200px;
  height: 100px;
}

textarea.div_msg :hover {
  background-color: salmon;
}
/* #msg_contenu {
  background-color: black;
} */
#msg_envoyer:hover {
  color: black;
  background-color: rgb(111, 172, 236);
}
.div_input_form {
  color: black;
}
textarea.div_msg {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.div_input_form :hover {
  color: salmon;
}

p {
  font-size: 1.7em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}
.image1 {
  float: left;
}
* {
  color: white;
}
input:focus,
textarea:focus {
  background-color:rgb(111, 172, 236);
}

.head {
  background-color: black;
}
a {
  height: 30px;
}

#portfolio {
  color: whitesmoke;
}
input.div_txt_form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input.div_input_form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
textarea.div_msg :hover {
  background-color: rgb(111, 172, 236);
}
.liens2 :hover {
  background: rgb(111, 172, 236);
  box-shadow: 12px 12px 24px #6c6c6c, -12px -12px 24px #ffffff;
  width:25%;
}

.reseaux {
  margin: 0;
  font-size: 50px;
}
.reseauxUl {
  display: flex;
  justify-content: center;
  list-style: none;
}

.reseauxLi {
  font-size: 100px;
  border-radius: 54px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 18px 18px 36px #5a5a5a, -18px -18px 36px #ffffff;
}
.reseauxLi a:hover {
  box-shadow: inset 5px 5px 5px white;
  inset: -5px -5px 5px;
}
.portfolioliens a:hover {
  border-radius: 41px;
  background: rgb(111, 172, 236);
  box-shadow: 12px 12px 24px #6c6c6c, -12px -12px 24px #ffffff;
}
.video1 {
  height: 350px;
  border: 4px rgb(168, 202, 252) solid;
  border-radius: 30px / 10px;
  box-shadow: 6px 6px 10px whitesmoke;
}
.video1 a :hover {
  border-radius: 41px;
  background: linear-gradient(145deg, #355c7d, #6c5b7b, #c06c84);
  box-shadow: 12px 12px 24px #6c6c6c, -12px -12px 24px #ffffff;
}

.video2 {
  border: 4px rgb(168, 202, 252) solid;
  border-radius: 30px / 10px;
  box-shadow: 6px 6px 10px whitesmoke;
  margin-top: 50px;
}

.titreAp {
  margin-left: 312px;
  margin-right: 312px;
}

p.analyse1 {
  width: 500px;
  height: 350px;
  border-radius: 30px, 10px;
  margin-left: 800px;
  margin-bottom: 200px;
  padding-bottom: 100px;
}

.analyse2 {
  width: 500px;
  height: 350px;
  border-radius: 30px, 10px;
  margin-left: 800px;
  padding-bottom: -600px;
}
/* 
.galerie {
  grid-template-columns: 1fr 1fr 1fr;
}

.galerie img {
  border: 2px solid black;
  padding: 5px;
  width: 50%;
  height: auto;
}

.galerie figcaption {
  text-align: center;
  font-size: 18px;
}

.galerie {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 20px auto; 
}*/
.pptuto {
  text-align: center;
}
.pptuto1 {
  text-align: center;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

.bodycontact.php {
  margin: 0px;
  padding: 0px;
  background-color: #fef1df;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.grid {
  /* display: flex;
  flex-wrap: wrap; /
  / grid-template-columns: repeat(3, 200px); */
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 400px;
  margin-left: 50px;
}

.grid img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}


#menuToggle { 
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: white;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: rgb(168, 202, 252);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
 backgroun 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background:  rgb(168, 202, 252);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

