body {
  background-image: url("images/fond2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 90%;
  margin: 20px auto 40px auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
  width: 16%;
  text-align: center;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  font-size: large;
  text-align: center;
  font-weight: bolder;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

.conteneur {
  margin: 0px 20px;
}

h1 {
  color: beige;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 0 3px cornsilk;
}
.texte1 {
  width: 60ch;
}
.conteneur {
  color: white;
  font-weight: bolder;
  text-align: center;
}
#image1 {
  display: block;
  width: 400px;
  margin-left: 80px;
  margin-right: auto;
  padding: 20px;
}
